{{- if .Values.adminUI.enabled }}
{{- if .Values.adminUI.auth.providers }}
{{- range $provider := .Values.adminUI.auth.providers }}
{{- if and $provider.enabled (not (and $provider.oidc $provider.oidc.existingSecret $provider.oidc.existingSecret.name)) }}
{{- if or (and $provider.oidc $provider.oidc.clientSecret) (and $provider.ldap $provider.ldap.bindPassword) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "forms-waf.fullname" $ }}-auth-{{ $provider.id }}
  labels:
    {{- include "forms-waf.labels" $ | nindent 4 }}
    app.kubernetes.io/component: auth-provider
    forms-waf.io/provider-id: {{ $provider.id | quote }}
type: Opaque
data:
  {{- if and $provider.oidc $provider.oidc.clientSecret }}
  client-secret: {{ $provider.oidc.clientSecret | b64enc | quote }}
  {{- end }}
  {{- if and $provider.ldap $provider.ldap.bindPassword }}
  bind-password: {{ $provider.ldap.bindPassword | b64enc | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
